:root{
--contactId-width:9rem;

}

.resultDetailsAccordion{
    text-align : right;
    background-color : white;
    border-radius :8px;
    margin :0.625rem 0.625rem 0.625rem 0.625rem ;
    padding:0.625rem 0.625rem 0.625rem 0.625rem ;
    font-size: 1rem;
    font-weight: bold;

}

.resultDetailsAccordion_visible{
    /* transition: height 4s; */
    /* height: auto; */
    /* max-height: fit-content; */
    max-height: 1000px;
    /* 22rem; */
    overflow: hidden;
    /* auto; */
    display: grid ;
    grid-template-columns: 3fr 1fr;
grid-template-rows: repeat(9 1fr) ;
grid-template-areas:
"description ad1"
"description ad1"
"description ad1"
"date ad2"
"date ad2"
"parking ad2"
"parking ad3"
"... ad3"
"... ad3"
;
 transition: max-height 0.7s ease-out

/* transition: height 0.1s linear 1s; */
 /* */

}
.closed-accordionHeightZero{
    max-height: 0rem;
    /* height : 0rem;  */
}
.resultDetailsAccordion_displayNone{
display: none;
/* transition: height 1s linear 1s; */

}
.propertyDescription{
    grid-area: description  ; 
}
.parking{
    grid-area: parking  ; 
 
}
.entry-date{
    grid-area: date  ; 
    border: red solid;
}
.accordion-ad{
    height: 10rem;
    width: 11rem;
    margin-left: 4rem;

}
.result-accordion-ad-1{
    
    /* padding-bottom: 10px; */
    grid-area: ad1  ;
}
.result-accordion-ad-2{
    grid-area: ad2  ;
}
.result-accordion-ad-3{
    grid-area: ad3  ;
}
.container_seller-details{
   transition: all 0.2s linear  ;
       flex-direction: column ;
        align-items:center; 
        
    }

.container_seller-details_visible{
    width: var(--contactId-width);
     transform: scale(1.1);
}
.container_seller-details_Not_visible{
 
    transform: scale(0.5);
}
    
.seller-details{
    display:none;
       flex-direction: column ;
        align-items:center;
        width: var(--contactId-width);

}
.seller-details{
    position:  absolute  ;
 
   z-index : 1 ;
    background-color: #FFFFFF  ;
   user-select: none  ;
    font-size : 1rem  ;
    font-weight : normal ;
   
}
.seller-details div{
    outline-style :  solid  ;
    outline-width: 0.5px  ;
     width: 100%  ;
      height: 100%;

}