.result{
   background-color : #f5f1bf;
   border-left : 0.25rem solid rgba(0,0,0,.1);
  
   /* box-shadow : 0 1px 1px 1px rgba(0,0,0,1.16); */
   padding : 0 0.625rem 0 0.625rem;
   font-size :1rem;
   font-weight : bold;
}
.result{
    display:flex;
    flex-direction:row;
    justify-content: center;
    color : #363634;
    width:auto; 
    user-select: none;
    cursor:pointer;
}
.more-details-setting{
 /* display: none; */
opacity: 0;
 /* visibility: hidden; */
    font-size: 1rem;
    transition: opacity 0.5s linear;
}
.more-details-mouse-hover{
    opacity: 1;
}
.result:hover{
    box-shadow: 0 2px 12px 2px rgba(0,0,0,2.16);
}
.result >div{
    padding: 1rem;

}
.result > :nth-child(-n+2){
    /* background-color : red !important; */
    border-right: 1px solid rgba(0,0,0,.1);
}
.result-right{
    width: 40%;
    display: flex;
     align-items : center;

  justify-content : space-around ;

 padding : 0rem 0rem 0rem 0rem;

text-align:right;
}
.result-center{
    width: 30%;
     text-align : center;
     direction : ltr;
     font-size : 1.625rem;
    display: flex;
     align-items : center;
      justify-content : center;
}
.result-left{
    width: 30%;
     direction : ltr;
     font-size : 1.625rem;
    display: flex;
    flex-direction: column;
     align-items : center;
      justify-content :center;
}

.Results-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.container-result-accordion{
    width: auto;
    /* margin: -0.3rem; */
    border-radius: 2px 0 0 2px;
    border-bottom: 2px solid rgba(0,0,0,.1) ;
    margin-left:   0;
    /* border-right: 2px solid rgba(0,0,0,.1) ; */
    margin : 0rem 0.625rem 0rem 0.625rem;
}
.result-Center-wrapper{
     display:flex;
     flex-direction:row;
    justify-content: space-around ;
    width:100%;
  

}
.opacity-text{
    font-size : 1rem;
    color : rgba(0,0,0,.5);

}


.arrowsImages{
    font-size : 16px;
    color : rgba(0,0,0,.5);
    width: 45%;
    text-align : center;
    background-color : #ccc;
    border-radius : 8px;
    user-select : none;

}

.greenButton{
    margin-top : 1rem;
 padding-top : 0.5rem;
  padding-bottom: 0.5rem;
 padding-left: 1rem;
                   padding-right: 1rem;

                 background-color : rgba(15, 202, 128,1);

                 font-size : 1.5rem;

                 font-weight: bold;

                 color : white;

}

#pagination{
    display: flex ;
   flex-direction: row ;
 justify-content: space-around;
}
#pagination{
     background-color :  #f5f1bf  ;
     border-left :  4px solid rgba(0,0,0,.1)  ;
   margin:  10px 10px 10px 10px  ;
    box-shadow :  0 1px 6px 1px rgba(0,0,0,1.16) ;
    padding : 0.625rem 0.625rem 0.625rem 0.625rem;
    font-size : 1rem  ;
   font-weight:  bold  ;

}
#currentPage{
     background-color :  #ff7100 ;
     border-radius :  0.18rem;  
}
.pageButton{
    width: 1rem;
}
/* .container-smallImage-smallScreen{ */
    /* background-color :  #ff7100 ;
    margin: auto;
    width: 50%; 
} */
.container-smallScreen-HomeDetails{
display:flex;
flex-direction: column;
/* justify-content: center; */
align-items: flex-end;
padding: 1rem;
text-align: right;
}

.buttonSmallImages {
    height: 100%;
    width:80px;
  
    border-style:groove;
        border-color: rgb(28, 44, 4);
     border-width: 3px;
     border-radius: 9px;
  }