.App {
  text-align: center;
  /* background-color: #282c34; */
  /* min-height :100%; */
}
#root{
  /* min-height :100vh; */

}
html {
  /*     height: 100vh; */
      height: 100%;

}
/* body {
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: #FFCC00;
  border-style: solid;
  border-color: blue;
  border-width: 3px;


  } */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttonSmallImages {
  height: 100%;
  width:80px;

  /* border-style:groove;
      border-color: greenyellow;
   border-width: 6px; */
}

/* body > #root > div {
  height: 100vh;
} */